.main-signup {
  position: relative;
  height: 600px;
}

.s-errr {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  color: red;
  background-color: #ccc;
  width: 28%;
}

.form-signup {
  position: relative;
  background: black;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 80%;
  border-radius: 20px;
  padding: 20px;
}

.form-signup h1 {
  color: #fff;
  margin: 0 0 20px 0;
}

.form-field-signup {
  margin: 10px 0;
}

.form-field-signup p {
  color: #fff;
  text-align: left;
}

.text-field-signup {
  width: 100%;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 10px 0;
  border: black;
  background: rgb(69, 69, 69);
  color: #fff;
}

.form-field-signup span {
  color: red;
  text-align: left;
  margin-bottom: 200px;
}

.submit-signup,
.signup {
  cursor: pointer;
  position: absolute;
  background: rgb(30, 192, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  bottom: 26%;
  left: 50%;
  width: 92%;
  transform: translate(-50%, -50%);
}

.signup {
  position: absolute;
  background: black;
  color: rgb(30, 192, 0);
  width: 50%;
  bottom: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.underline-signup {
  position: absolute;
  width: 38%;
  bottom: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: 1px solid rgb(30, 192, 0);
}

@media screen and (max-width: 700px) {
  .s-errr {
    width: 80%;
  }

  .form-signup {
    width: 90%;
  }

  .signup {
    width: 80%;
    bottom: 12%;
  }

  .underline-signup {
    width: 50%;
    bottom: 17%;
  }
}

@media screen and (max-width: 400px) {
  .submit-signup {
    bottom: 23%;
  }

  .signup {
    bottom: 5%;
  }

  .underline-signup {
    width: 70%;
    bottom: 10%;
  }
}
