a {
  text-decoration: none;
}

.limited-container {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

.limited-display .cat-name {
  cursor: pointer;
  margin: 30px auto 50px auto;
  padding: 10px;
  color: rgb(30, 192, 0);
  width: 15%;
  text-align: center;
  border-radius: 5px;
  -moz-box-shadow: 0 0 5px rgba(32, 33, 36, 0.28);
  -webkit-box-shadow: 0 0 5px rgba(32, 33, 36, 0.28);
  box-shadow: 0 0 5px rgba(32, 33, 36, 0.28);
}

.limited-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.limited-item {
  flex: 1;
}

@media screen and (max-width: 1300px) {
  .limited-container .cat-name {
    width: 25%;
  }
}

@media screen and (max-width: 1000px) {
  .limited-container .cat-name {
    width: 30%;
  }
}

@media screen and (max-width: 700px) {
  .limited-container .cat-name {
    width: 350px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 400px) {
  .limited-container .cat-name {
    width: 320px;
  }
}

@media screen and (max-width: 350px) {
  .limited-container .cat-name {
    width: 280px;
  }
}
