.top-message {
  position: relative;
  height: 100px;
}

.top-message h1 {
  position: absolute;
  padding-bottom: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
  width: 20%;
  margin: auto;
  border-bottom: 3px solid #39ff14;
}

.explore-btn {
  cursor: pointer;
  border: 2px solid #fff;
  width: 13%;
  font-size: 1vw;
  margin: 100px auto 50px auto;
  padding: 10px;
  cursor: pointer;
  background: rgb(30, 192, 0);
  color: #fff;
  border-radius: 5px;
  /* box-shadow: 200px 200px 200px 200px rgb(0, 0, 0, 0.5); */
}

@media screen and (max-width: 1300px) {
  .top-message h1 {
    width: 35%;
    font-size: 2vw;
  }
  .explore-btn {
    font-size: 2vw;
    width: 30%;
  }
}

@media screen and (max-width: 1000px) {
  .top-message h1 {
    width: 50%;
    font-size: 3vw;
  }
  .explore-btn {
    font-size: 2vw;
    width: 25%;
  }
}

@media screen and (max-width: 700px) {
  .top-message h1 {
    width: 70%;
    font-size: 5vw;
  }

  .explore-btn {
    width: 50%;
    font-size: 3vw;
    margin: 50px auto;
  }
}

@media screen and (max-width: 500px) {
  .explore-btn {
    width: 60%;
    font-size: 4vw;
    margin: 50px auto;
  }
}
