.product-preview {
  cursor: pointer;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  width: 350px;
  height: 49vh;
  margin: 20px auto;
  -moz-box-shadow: 0 0 5px rgba(32, 33, 36, 0.28);
  -webkit-box-shadow: 0 0 5px rgba(32, 33, 36, 0.28);
  box-shadow: 0 0 5px rgba(32, 33, 36, 0.28);
}

.product-preview img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.add-to-basket,
.view-product-btn {
  width: 100%;
  background: rgb(30, 192, 0);
  opacity: 0.8;
  height: 10%;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.view-product-btn {
  background: #ff9f00;
}

.explore-more {
  width: 100%;
  background: #000;
  height: 10%;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.price {
  position: absolute;
  top: 73%;
  left: 75%;
  color: #eee;
}

@media screen and (max-width: 900px) {
  .product-preview {
    width: 350px;
    padding: 10px;
    margin: 10px auto;
  }
}

@media screen and (max-width: 700px) {
  .product-preview {
    width: 350px;
    padding: 10px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 500px) {
  .product-preview {
    width: 350px;
    padding: 10px;
    margin: 20px auto;
    height: 62vh;
  }

  .product-preview img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 400px) {
  .product-preview {
    width: 320px;
    padding: 10px;
    margin: 20px auto;
    height: 52vh;
  }

  .product-preview img {
    width: 100%;
    height: auto;
  }

  .price {
    top: 68%;
  }
}
