.top-content {
  height: 80vh;
  position: relative;
  background: url("https://images.unsplash.com/photo-1455099229380-7b52707e356a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")
    no-repeat center center/cover;
  width: 100%;
}

.top-content::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 200px rgba(0, 0, 0);
}

.top-content h1 {
  color: #fff;
  position: absolute;
  font-size: 3vw;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50%;
  margin: auto;
}

.top-content p {
  position: absolute;
  width: 10%;
  padding: 10px;
  color: #fff;
  background: rgb(30, 192, 0);
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 5px;
}

.middle-content {
  position: relative;
  height: 90vh;
  background: url("https://images.unsplash.com/photo-1543352632-5a4b24e4d2a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80")
    no-repeat center center/cover;
}

.middle-content h1 {
  position: absolute;
  font-size: 2vw;
  width: 70%;
  top: 43%;
  left: 50%;
  margin: auto;
  color: #fff;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.middle-content a {
  position: absolute;
  font-size: 1vw;
  width: 25%;
  top: 54%;
  left: 50%;
  margin: auto;
  color: #fff;
  background: rgb(30, 192, 0);
  color: #fff;
  padding: 20px;
  z-index: 1;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.middle-content h1 .discount {
  color: #39ff14;
}

.middle-content::after {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 200px rgba(0, 0, 0);
}

@media screen and (max-width: 1200px) {
  .top-content h1 {
    width: 100%;
    font-size: 4vw;
  }

  .top-content p {
    width: 20%;
    top: 53%;
  }
  .middle-content h1 {
    width: 100%;
    font-size: 3vw;
  }

  .middle-content a {
    font-size: 2vw;
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .top-content h1 {
    width: 100%;
    font-size: 5vw;
  }

  .top-content p {
    width: 35%;
    top: 53%;
  }

  .middle-content {
    height: 600px;
  }

  .top-content p {
    width: 35%;
    top: 53%;
  }

  .middle-content h1 {
    width: 100%;
    font-size: 5vw;
    padding: 20px;
    line-height: 30px;
  }

  .hider {
    display: none;
  }

  .discount {
    font-size: 6vw;
  }

  .middle-content a {
    width: 60%;
    font-size: 3vw;
    top: 58%;
    padding: 15px;
  }
}

@media screen and (max-width: 400px) {
  .middle-content {
    height: 600px;
  }

  .middle-content a {
    width: 70%;
    top: 55%;
  }
}
